Package: ubiquity-slideshow-netuyo
Priority: optional
Section: main
Maintainer: Reinin Oyama
Architecture: all
Version: 0.0.2
Depends: ubiquity
Conflicts:
Provides:
Description: Netuyo slide show for Ubiquity installer
 A simple slide show for ubiquity
